* {
  padding: 0;
  margin: 0;
}

body{
  background-image: url("../images/backgroundLp.png");
  background-position: right;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bgMain {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  z-index: -1;
}

a {
  text-decoration: none;
}

.card-img-top {
  width: 240px;
  margin: auto;
}

.input-group-text {
  width: 120px;
}

.btn {
  border: 1px solid #ff0043;
  color: #ff0043;
  width: 80px;
  margin: auto;
  display: block;
}

.btn:hover {
  background-color: #ff0043;
  color: #fff;
}


@media(max-width: 640px) {
  .bgMain {
    display: none;
  }
}